{% extends 'base.html' %}

{% load static %}
{% load htmlutils %}
{% load capture_tags %}

{% block title %}Результаты голосования - ФОРУМ.мск{% endblock %}

{% block content %}

    {% capture as poll_results_tmpl silent %}
        <div class="normal">
            <div class="p_hv">
                <table width="100%">
                    <tr>
                        <td colspan=2 align=center>
                            <b>{{ object.question }}</b>
                        </td>
                    </tr>
                    {% for choice in object.choice_set.all %}
                        <tr>
                            <td width="40%" align=right>
                                <div style="font-size:90%;width:{% widthratio choice.vote_count object.sum_votes 100 %}%;background-color:#990000">&nbsp;</div>
                            </td>
                            <td>
                                {{ choice.answer }} ({{ choice.vote_count }})
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <br />
            <br />
            <div align="center">
                {% if prev_poll %}
                    <a href="{{ prev_poll.get_absolute_url }}"><< предыдущий опрос</a>
                {% endif %}
                &nbsp;|&nbsp;
                {% if next_poll %}
                    <a href="{{ next_poll.get_absolute_url }}">следующий опрос >></a>
                {% endif %}
            </div>
            <br />
            <br />
            <br />
            <br />
        </div>
    {% endcapture %}
    {% include 'incl/tile/base.html' with title='Результаты голосования' content=poll_results_tmpl %}

{% endblock %}
