{% load htmlutils %}

<table class="full-table hp100 {{ color }}">
    <tr>
        <td colspan="3" class="hp100 valign-top border_or">
            {% include 'incl/tile/content.html' with color='orange' %}
        </td>
    </tr>
    <tr>
        <td class="bg_orange_l w7"><div style="width:7px; height:7px"><!-- --></div></td>
        <td class="wp100 bg_orange_c"><div style="width:1px; height:7px"><!-- --></div></td>
        <td class="bg_orange_r w7"><div style="width:7px; height:7px"><!-- --></div></td>
    </tr>
</table>
