{% load htmlutils %}

<table class="full-table">
    <tr>
        <td>
            <div class="p_hv">
                <img class="pwi" src="{{ article.icon }}" alt="{{ article.title }}">
                <div class="or2_normal">
                    <strong>
                        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                    </strong>
                    {% if article.can_comment %}
                        <span class="active">
                            <a title="{{ article.comments_count|num_ending:'комментари,й,я,ев' }}"
                               href="{{ article.get_absolute_url }}#clist">({{ article.comments_count }})</a>
                        </span>
                    {% endif %}
                    <br>
                    <span>
                        {% include 'authors/incl/cover_name.html' with article=article %}
                        {{ article.publish_date|date:'d.m.Y' }}
                    </span>
                </div>
                <div class="p_t">
                    <div class="normal">
                        <a href="{{ article.get_absolute_url }}">{{ article.preview }}</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
