{% load static %}

<!--noindex-->
<table class="noborder">
    <tr>
        <td class="valign-top align-center">
            &nbsp;&nbsp;
            <a rel="nofollow" href="http://www.cprf.info/" target=_blank>
                <img src="{% static 'i/banner/neo.gif' %}" width=88 height=31 alt="">
            </a>
        </td>
        <td class="valign-top align-center">
            &nbsp;&nbsp;
            <a href="/opposition_hoop/">
                <img src="{% static 'i/banner/bun2_88x31_1.gif' %}" width="88" height="31" alt="">
            </a>
        </td>
        <td class="valign-top align-center">
            &nbsp;&nbsp;
            <a rel="nofollow" href="http://www.pravda.info/" target=_blank>
                <img src="{% static 'i/banner/pravda_info_small.gif' %}" width=88 height=31 alt="">
            </a>
        </td>
        <td class="valign-top align-center">
            &nbsp;&nbsp;
            <a rel="nofollow" href="http://radreal.su/" target=_blank>
                <img src="{% static 'i/banner/radreal.gif' %}"  width=88 height=31 alt="">
            </a>
        </td>
        <td class="valign-top align-center">
            &nbsp;&nbsp;
            <a rel="nofollow" href="http://ucp.su/" target=_blank>
                <img src="{% static 'i/banner/okp.png' %}"  width=88 height=31 alt="">
            </a>
        </td>
    </tr>
</table>
<!--/noindex-->
