<div class="p_hv align-center">
    <table class="wp100">
        <tr>
            <td>
                <!--noindex-->

                <!-- Rating@Mail.ru counter -->
                <script type="text/javascript">
                    //<![CDATA[
                    var a='',js=10;try{a+=';r='+escape(document.referrer);}catch(e){}try{a+=';j='+navigator.javaEnabled();js=11;}catch(e){}
                    try{s=screen;a+=';s='+s.width+'*'+s.height;a+=';d='+(s.colorDepth?s.colorDepth:s.pixelDepth);js=12;}catch(e){}
                    try{if(typeof((new Array).push('t'))==="number")js=13;}catch(e){}
                    try{document.write('<a href="http://top.mail.ru/jump?from=6902">'+ '<img src="http://da.c1.b0.a0.top.mail.ru/counter?id=6902;t=216;js='+js+a+';rand='+Math.random()+ '" alt="Рейтинг@Mail.ru" style="border:0;" height="31" width="88" \/><\/a>');}catch(e){}
                    //]]>
                </script>
                <noscript>
                    <p>
                        <a href="http://top.mail.ru/jump?from=6902">
                            <img src="http://da.c1.b0.a0.top.mail.ru/counter?js=na;id=6902;t=216" style="border:0;" height="31" width="88" alt="Рейтинг@Mail.ru" />
                        </a>
                    </p>
                </noscript>
                <!-- //Rating@Mail.ru counter -->

                <script>
                    document.write('<a href="http://top100.rambler.ru/cgi-bin/stats_top100.cgi?{{ rambler_id }}"><img src="http://top100-images.rambler.ru/top100/banner-88x31-rambler-gray2.gif"  width=88 height=31 alt=""></a>');
                </script>
                <img src="http://counter.rambler.ru/top100.cnt?{{ rambler_id }}" width=1 height=1 alt="">

                &nbsp;
                <!--LiveInternet counter-->
                <script type="text/javascript">
                    <!--
                    document.write('<a href="http://www.liveinternet.ru/click" '+ 'target=_blank><img src="http://counter.yadro.ru/hit?t16.6;r'+ escape(document.referrer)+((typeof(screen)=='undefined')?'': ';s'+screen.width+'*'+screen.height+'*'+(screen.colorDepth? screen.colorDepth:screen.pixelDepth))+';u'+escape(document.URL)+ ';'+Math.random()+ '" title="liveinternet.ru: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодн\я" '+ ' width=88 height=31></a>')
                    //-->
                </script>
                <!--/LiveInternet-->

                &nbsp;

                <script>
                    document.write('<a href="http://yandex.ru/cy?base=0&amp;host=forum-msk.org"><img src="http://yandex.ru/cycounter?forum-msk.org" width="88" height="31" alt="Яндекс цитирования" /></a>');
                </script>
                <script>
                    marqueeStart('marquee')
                </script>

                <!--/noindex-->
            </td>
            <td class="wp30 align-right normal">
                читайте нас также: <a href="/pda/">pda</a> |
                <!--noindex-->
                <a rel="nofollow" href="http://twitter.com/forummsk">twitter</a>
                <!--/noindex--> |
                <a href="{% url 'articles:rss' %}">rss</a>
            </td>
        </tr>
    </table>
</div>
