<a id="clist"></a>

<div class="newscomments-header">
    <div class="big1">Всего комментариев к статье: {{ article.comments_count }}</div>
    <span>Комментарии не премодерируются и их можно оставлять анонимно</span>
</div>

{% if article.discussion_status == 'open' or request.user.is_staff %}
<div class="newscomments-list">
    {% if request.user.is_staff %}
        <div class="normal">
            <div class="p_hv">
                {% if article.discussion_status == 'open' %}
                    <a href="{% url 'articles:action' article.id 'close' %}" class="uline">закрыть обсуждение</a>
                {% else %}
                    <a href="{% url 'articles:action' article.id 'open' %}" class="uline">открыть обсуждение</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
    {% for comment in art_comments.object_list %}
        <div class="newscomment">
            {% include 'incl/forum_message.html' with article=article %}
        </div>
    {% endfor %}
    <div class="normal">
        <div class="p_hv">
            {% if not article.comment_set.active.exists and article.discussion_status == 'open' %}
                Нет ни одного комментария, ваш ответ будет первым<br>
            {% endif %}
            {% include 'incl/paginator.html' with page_obj=art_comments page='pf' anchor='clist' %}
        </div>
    </div>

    <a id="comment"></a>
</div>
{% endif %}

{% if article.discussion_status == 'open' %}
    <div class="big1 newscomments-header">Написать комментарий</div>
    <div class="newscomment-createform">
        {% include 'incl/forum_message_form.html' with article=article form=comment_form %}
    </div>
{% endif %}
