{% load static %}
{% load htmlutils %}

<a id="c{{ comment.id }}"></a>

<div class="newscomment-avatar">
    <img src="{{ comment.get_avatar|crop:'45x45' }}" width="45" height="45" alt="">
</div>
<div class="newscomment-meta">
    <i>{% if comment.title %}{{ comment.title|safe }}{% else %}(без названия){% endif %}</i>
    <br />
    <span class="newscomment-meta-author">{{ comment.username }}</span>
    <span class="newscomment-meta-date">написал {{ comment.created_at|date:'d.m.Y H:i' }}</span>
</div>

<div class="newscomment-content">
    {% if comment.karma <= -5 %}
        <a href="#" style="color:#6DA3BD" id="ca{{ comment.id }}" onClick="return karmed('{{ comment.id }}')">Раскрыть комментарий</a>
        <p style="display:none" id="ch{{ comment.id }}">{{ comment.content|safe }}</p>
        <br />
    {% else %}
        {{ comment.content|safe }}
    {% endif %}
</div>

{% if article.discussion_status == 'open' %}
    <div class="newscomment-reply">
        <a class="reply uline" rel="nofollow"
           href="{{ article.get_absolute_url }}?pf={{ page_num|default:1 }}&amp;mid={{ comment.id }}#comment"
           onClick="return makeForumReplyForm('comment_replay_{{ comment.id }}', 'Re: {{ comment.title|safe }}', '{{ comment.id }}');">Ответить</a>
        <div class="newscomment-reply-vote">
            {% spaceless %}
                {% if request.session.session_key == comment.token or request.user == comment.user %}
                    <img src="{% static 'i/good.png' %}" width="10" height="10" title="За свои комментарии голосовать запрещено." alt="*">
                    &nbsp;<span style="color:{% if comment.karma >= 0 %}green{% else %}red{% endif %}">{{ comment.karma }}</span>&nbsp;
                    <img src="{% static 'i/bad.png' %}" width="10" height="10" title="За свои комментарии голосовать запрещено." alt="*">
                {% else %}
                    <form action="{% url 'votes:comment' %}" method="POST" style="display:inline">
                        {% csrf_token %}
                        <input type="hidden" name="object_id" value="{{ comment.id }}">
                        <input type="hidden" name="score" value="1">
                        <input type="hidden" name="next" value="{{ request.get_full_path }}#c{{ comment.id }}">
                        <input type="image" src="{% static 'i/good.png' %}" width="10" height="10" title="Хороший комментарий" alt="*">
                    </form>
                    &nbsp;<span style="color:{% if comment.karma >= 0 %}green{% else %}red{% endif %}">{{ comment.karma }}</span>&nbsp;
                    <form action="{% url 'votes:comment' %}" method="POST" style="display:inline">
                        {% csrf_token %}
                        <input type="hidden" name="object_id" value="{{ comment.id }}">
                        <input type="hidden" name="score" value="-1">
                        <input type="hidden" name="next" value="{{ request.get_full_path }}#c{{ comment.id }}">
                        <input type="image" src="{% static 'i/bad.png' %}" width="10" height="10" title="Плохой комментарий (комментарий скроется, если наберет -5)" alt="*">
                    </form>
                {% endif %}
            {% endspaceless %}
        </div>
    </div>
    {% for message in messages %}
        {% with comment.id|stringformat:'s' as comment_id %}
            {% if 'comment-'|add:comment_id in message.tags %}
                <span style="float:right;font-size:80%">{{ message }}</span>
            {% endif %}
        {% endwith %}
    {% endfor %}
{% endif %}

{% if request.user.is_staff %}
    <a href="{% url 'articles:delete_comment' comment.id %}" class="uline"
       onclick="return confirm('Вы уверены в удалении?');">Удалить</a>
    {% if request.forum_banip %}
%		if ($message->ip() && $request->{forum_banip}->{$message->ip()}) {
			| <a href="/dialog/moderate.html?tid=<% $message->thread_id() %>&action=unban&ip=<% $message->ip() %>&back=<% $back %>" class="uline">Разбанить ip (<% $message->ip() %>)</a>
%		} else {
			| <a href="/dialog/moderate.html?tid=<% $message->thread_id() %>&action=ban&ip=<% $message->ip() %>&back=<% $back %>" class="uline">Забанить ip (<% $message->ip() %>)</a>
%		}
%		if ($request->{forum_bannick}->{ $message->trimed_username } ) {
			| <a href="/dialog/moderate.html?tid=<% $message->thread_id() %>&action=unbannick&id=<% $message->id %>&back=<% $back %>" class="uline">Разбанить ник (<% $message->get_author() %>)</a>
%		} else {
			| <a href="/dialog/moderate.html?tid=<% $message->thread_id() %>&action=bannick&id=<% $message->id %>&back=<% $back %>" class="uline">Забанить ник (<% $message->get_author() %>)</a>
%		}
    {% endif %}
{% endif %}

<span id="comment_replay_{{ comment.id }}"></span>
