{% load static %}
{% load htmlutils %}

<table class="full-table">
	<tr>
		<td class="w25">
            <div style="width:25px; height:1px"><!-- --></div>
        </td>
		<td class="wp40">
            <a href="/">
                <img src="{% static 'i/logo.gif' %}" width="218" height="44" alt="" >
            </a>
            <br>
            <div class="p_hv">
                <div class="bl_normal">
                    <span class="or3_normal">Кто владеет информацией,<br>владеет миром</span>
                </div>
            </div>
        </td>
		<td class="wp60 align-right valign-top">
            <!--div style="padding-bottom:3px;"><div class="normal">
                <strong>Вы можете оказать помощь ФОРУМу.мск здесь: WMR R127966713532 , YaD 41001845584610</strong>
            </div></div-->
            <table class="full-table bgE6F0F5">
                <tr>
                    <td class="valign-top bg_blu_l w27">
                        <div class="p_hv">
                            <img src="{% static 'i/l_reiting.gif' %}" width="27" height="28" alt="">
                        </div>
                    </td>
                    <td class="valign-top bg_blu_r">
                        <div class="p_hv align-left">
                            <div class="big1">Рейтинг</div>
                            <div class="normal" style="position:absolute;top:20px;right:30px">
                                <a href="{% url 'articles:section' 'best' %}">все лучшие новости</a>
                                <span class="active">
                                    <a href="{% url 'articles:section' 'best' %}">&gt;&gt;</a>
                                </span>
                            </div>
                            <div class="normal align-left">
                                {% if header_rating_news %}
                                    <ul>
                                        {% for article in header_rating_news %}
                                            <li>
                                                <a href="{{ article.get_absolute_url }}">{{ article.title|safe }}</a>
                                                {% if article.show_comments %}
                                                    <span class="active">
                                                        <a title="{{ article.comments_count|num_ending:'комментари,й,я,ев' }}"
                                                           href="{{ article.get_absolute_url }}#clist">({{ article.comments_count }})</a>
                                                    </span>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

		</td>
		<td class="w25">
            <div style="width:25px; height:1px"><!-- --></div>
        </td>
	</tr>
</table>

<div style="width:7px; height:1px"><!-- --></div>

<div class="align-right"><table class="h21 menu full-table">
	<tr>
		<td class="clear2 wp85">
            {% include 'incl/marquee.html' with article=marquee %}
        </td>
        <th>
            <div class=p_h2>
                <!--noindex-->
                <a href="http://forummsk.info/">English</a>
                <!--/noindex-->
            </div>
        </th>
		<td class="clear w2">&nbsp;</td>
        <th>
            <div class=p_h2>
                <a href="{% url 'pages:opposition' %}">Кольцо&nbsp;оппозиции</a>
            </div>
        </th>
		<td class="clear w2">&nbsp;</td>
		<th>
            <div class="p_h2">
                <a href="{% url 'forum:index' %}">Форум</a>
            </div>
        </th>
		<td class="w25 clear">
            <div style="width:25px; height:1px"><!-- --></div>
        </td>
	</tr>
</table></div>

<table class="full-table menu h35">
	<tr>
		<td class="w25"><div style="width:25px; height:1px"><!-- --></div></td>
        {% if nav_section %} {# current section #}
            <td class="align-center">
                <div class="p_h">
                    <a href="/">Главная</a>
                </div>
            </td>
        {% else %}
            <th> {# active #}
                <div class="p_h">
                    <a href="/">Главная</a>
                </div>
            </th>
        {% endif %}

        {% for section in sections %}
            <td>
                <img src="{% static 'i/sep2.gif' %}" width="1" height="21" alt="">
            </td>
            {% if nav_section and nav_section == section %}
                <th>
                    <div class="p_h">
                        <a href="{% url 'articles:section' section.slug %}">{{ section.name }}</a>
                    </div>
                </th>
            {% else %}
                <td class="align-center">
                    <div class="p_h">
                        <a href="{% url 'articles:section' section.slug %}">{{ section.name }}</a>
                    </div>
                </td>
            {% endif %}
        {% endfor %}
		<td class="w25">
            <div style="width:25px; height:1px"><!-- --></div>
        </td>
	</tr>
</table>
