{% extends 'base.html' %}

{% load static %}

{% block title %}{{ partition.name }}{% if page_obj.number > 1 %}, страница {{ page_obj.number }}{% endif %} - ФОРУМ.мск{% endblock %}

{% block description %}{{ partition.name }}{% endblock %}

{% block content %}
<div class="big1 or">О нас</div>
<div style="width:1px; height:1px"><!-- --></div>
<div class="border_or">
    <div class="normal">
        <div class="p_hv">
            <p><a href="maito:forum-msk@yandex.ru">Связаться с нами</a></p>

            <P>Новость дня сегодня - ФОРУМ.мск, ресурс объединяющейся оппозиции. На фоне
            марширующей по Ленинскому проспекту пехоты г-на Суркова,
            выглядит символично. Наша сила не в хоровом распевании "Хорста Весселя" или
            песенки про Путина на мотив "Черного бумера". Наша сила в чем-то другом.</P>
            <P>Блин, сразу вспомнились "Звездные войны" - сила чего-то там Нет, джедаями
            демократии и прогресса мы точно не являемся. Хотя, если на Президента
            напялить длинную накидку с капюшоном и шлем с маской, некоторая аналогия
            будет...</P>
            <P>Чего хотим-то?</P>
            <P>Свободы хотим, демократии и прогресса. А вот с этим-то у нынешних
            обитателей Кремля и по совместительству властителей России, есть некоторые
            проблемы. Сдается нам, что Президент просто даже не всегда понимает, когда у
            него просят сделать что-нибудь для свободы и демократии. Искренне не
            понимает.</P>
            <P>"Зачем это вам?" - Застывает в его глазах вопрос. Он не со зла. Ему
            кажется, что так надо. Что только так и надо.</P>
            <P>В Андижане собирают
            трупы. Министр иностранных дел России находит слова ободрения и
            одобрения для Ислама Каримова. В Москве 60 тысяч "нашистов" проводят для
            Президента успокоительный марш под лозунгом "Наша победа". Конечно, ваша,
            ребята. Молодцы, вовремя подсуетились и приватизировали
            Победу. Все на удивление символично, на удивление вовремя.</P>
            <P>Правда, с парада в 41-м уходили прямо на передовую. Интересно, многие ли
            из свезенных со всех городов страны участников нынешней акции готовы были бы
            поехать на войну? Хоть бы в Чечню? По призыву Президента? Потом дадут
            футболку и бейсболку, особо отличившихся в них и похоронят.</P>
            <P>Но ФОРУМ.мск ко всему этому отношения не имеет. Слава богу.</P>
            <P>Ресурс, надо сказать, с историей. Создание и пик интереса к нему
            совпадают со знаковым моментом в нашей новейшей историей с кризисом 1998
            года. Тогда вдруг выяснилось, что пресса, к тому времени уже поделенная
            между финансово-промышленными группами, обслуживала какие-то интересы, а на
            мнение обывателя, как неожиданно вышло, ей ровным счетом наплевать.</P>
            <P>Вот тут Александр Гагин, получив какой-то небольшой грант у фонда Сороса,
            и создал натуральный "институт гражданского общества" в виде Открытой
            электронной газеты "Форум", который, по его URLтак и стали называть в
            просторечии Forum.msk.ru, или ФОРУМ.мск. </P>
            <P>Потом ситуация кое-как стабилизировалась, грант кончился, а обыватель
            формировать гражданское общество положительно отказывался. Гагин
            разочаровался и продал ФОРУМ.мск Анатолию Баранову
            (мне).</P>
            <P>Дальнейшие события истории подтвердили разочарования Гагина. Хотя на
            сайте стали появляться статьи матерых авторов, а радикальность его
            существенно повысилась, общество принялось голосовать за Путина и "Единую
            Россию", а по выходным стало ездить в "Мега-центры", "Икеи" и "Крокус-сити".
            С появлением же "Ашана" и "Вэй-парка" надежды на гражданское общество совсем
            скисли.</P>
            <P>Но тут, спасибо товарищам Грефу, Кудрину и Зурабову, власти занялись не
            только оформлением в СИЗО олигархов и национал-большевиков, но и
            монетизацией льгот, Жилищным кодексом и рядом других судьбоносных инициатив,
            способных свергнуть правительство и покрепче нашего.</P>
            <P>И вот тут выяснилось, что властям может и не удалось поставить Россию на
            колени, но уж оппозицию, без разбора ориентации, за минувшие годы установили
            в такое коленно-локтевое положение (раком, проще говоря), что распрямиться
            без посторонней помощи ей оказалось положительно невозможно.</P>
            <P>А вот с посторонней помощью вышло как-то слабовато. Не Украина, чать. И
            не Грузия. Опять же обещание "Дней Киргизии в "Икее" поубавило посторонним
            прыти. </P>
            <P>Остались только надежды на собственные силы. Ну кто скажет, что Россия не
            родина "чучхе"?</P>
            <P>Собственные силы у нас имеются. Но только ненавидят друг друга еще
            сильней, чем тот режим, с которым вроде бы борются. Правда, в последнее
            время инстинкт самосохранения взял свое, и на одной и той же трибуне стало
            возможно увидеть совершенно разных вождей даже глаза разбегаются. Обильна
            наша родина вождями.</P>
            <P>Что до населения, то оно пребывает в привычном для себя раскоряченном
            состоянии. Причем мыслящая его часть ведет себя подчас столь же непонятно,
            как и самая неосмысленная. Складывается впечатление, что общество как
            больной, лет десять находившийся в полном беспамятстве, начало обнаруживать
            первые физиологические рефлексы.</P>
            <P>Например, если раньше у населения отнимали деньги, оно тут же бежало
            голосовать за того, кто отнял. Теперь отняли льготы и уже через неделю
            получите: "Путина - в отставку!" А чуть позже "Нет капитализму Путину
            клизму!" Причем последний лозунг был защищен его авторами в суде как вполне
            приемлемый, не оскорбляющий чести и достоинства Первого лица.</P>
            <P>Население и раньше довольно часто сажали по поводу и без повода, но
            теперь за каждого, чей арест и посадка вызывает сомнение, начинают бороться
            люди, явно в этом лично не заинтересованные. </P>
            <P>В общем, остается уяснить простую вещь: если сегодня на улице бьют негра
            или пытаются арестовать молодого человека нетипичной внешности это касается
            каждого, независимо от цвета кожи и стоимости костюма. У общества
            обнаружился ясный и понятный враг. И наконец-то общество должно
            почувствовать себя перед ним единым не "Единой Россией" со штемпелем
            администрации президента на ягодице, а народом, со-гражданами.</P>
            <P>Вот в воспитании этого чувства единства перед бессовестной и бездарной
            властью видится нам сверхидея обновленного проекта ФОРУМа.мск.</P>
            <P>Возможно, он уже немного старомоден, классичен в Рунете все так быстро
            меняется, что год-два уже равновелики со словом "древность". Но мы не
            ставили перед собой задачу удивить публику. </P>
            <P>Вполне вероятно, что это последний ресурс в Рунете, который по своей
            структуре напоминает бумажную газету которая, как известно, "не только
            коллективный пропагандист и агитатор, но и коллективный организатор". Кто
            это сказал, знал толк в революциях.</P>
            <P>Тем не менее, здесь есть кое что, газетам не свойственное.</P>
            <P>Мы по-прежнему ориентируемся на материалы, присланные нашими читателями.
            Хотя среди читателей немало и писателей (что нас радует).</P>
            <P>Однако сайт, претендующий на нечто большее, чем игрушка расслабленного
            разума, не может быть частным делом одного человека. </P>
            <P>Поэтому появился Редакционный совет, который возглавляет Михаил Делягин (в
            представлениях не нуждается). При этом члены Совета не являются "свадебными
            генералами", большинство из них будет выступать здесь регулярно в качестве
            колумнистов, авторов статей, редакторов. </P>
            <P>Появился раздел новостей, который будет обновляться в мониторном режиме.
            Но теперь читатели могут добавить на ленту свою новость, и после прочтения
            редактором увидеть ее опубликованной, причем довольно быстро.</P>
            <P>Обсуждения на форуме будут вестись, как и раньше, но под статьями
            появятся еще и гостевые книги.</P>
            <P>К материалам по мере надобности будут прикрепляться документы. А также
            аудио- и видеосюжеты. Кстати, появятся картинки.</P>
            <P>Но все это не имеет большого смысла описывать, поскольку и так видно.</P>
        </div>
    </div>
</div>
<table class="full-table h7 bgFFF0E6">
    <tr>
        <td class="bg_orange_l w7"><div style="width:7px; height:7px"><!-- --></div></td>
        <td class="wp100 bg_orange_c"><div style="width:1px; height:7px"><!-- --></div></td>
        <td class="bg_orange_r w7"><div style="width:7px; height:7px"><!-- --></div></td>
    </tr>
</table>
{% endblock %}
