{% extends 'base.html' %}
{% load static %}
{% load htmlutils %}

{% block content_width %}100{% endblock %}

{% block content %}
<div align=center>
    <br>
    <font face=arial color="#990000"><b>Рейтинг ведущих оппозиционных русскоязычных сайтов</b></font>
</div>
<br>
<div class=normal align=center>
    <span style="font-size:12px;color:#0C7FC5">
        <b><a style="font-size:12px;color:#0C7FC5" href="{% url 'pages:opposition' %}">Кольцо оппозиции</a> &raquo;
            <a style="font-size:12px;color:#0C7FC5" href="{% url 'pages:resource_list' resource_type.id %}">{{ resource_type.name }}</a> &raquo;
        </b>
    </span>
</div>
<br>
<table cellSpacing=0 cellPadding=0 width="100%" border=0>
    {% for resource in resource_list %}
        <tr>
            <td width=88 height=35>
                <img src="{{ resource.get_logo|crop:'88x31' }}" width="88" height="31" alt="{{ resource.name|safe }}" title="{{ resource.name|safe }}" align="left">
            </td>
            <td>&nbsp;</td>
            <td width=80% bgcolor="#{% cycle 'E6F0F5' 'A6D0EA' %}">
                <div class="normal">&nbsp;<a href="{{ resource.url }}" target=_blank>{{ resource.name|safe }}</a></div>
            </td>
            <td>&nbsp;</td>
            <td>
                {% with resource.rating|stringformat:'i' as rating %}
                    <img src="{% static 'i/stars/'|add:rating|add:'.gif' %}" alt="">
                {% endwith %}
            </td>
        </tr>
    {% endfor %}
</table>
<br>
<div class=normal align=center>
    <span style="font-size:12px;color:#0C7FC5">
        <b><a style="font-size:12px;color:#0C7FC5" href="{% url 'pages:opposition' %}">Кольцо оппозиции</a> &raquo;
            <a style="font-size:12px;color:#0C7FC5" href="{% url 'pages:resource_list' resource_type.id %}">{{ resource_type.name }}</a> &raquo;
        </b>
    </span>
</div>
<br>
<br>
<table width="100%">
    <tr>
        <td align=center valign=middle colspan=7>
            <div class="p_b">
                <div class="normal">
                    <b>Наши кнопки</b>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <img src="{% static 'i/banner/bun_88x31_1.gif' %}" width="88" height="31">
        </td>
        <td><b>:</b></td>
        <td>
            {% spaceless %}
                <textarea rows="3" cols="40" readonly="readonly">
                    <a href="{% url 'articles:index' %}">
                        <img src="{% static 'i/banner/bun_88x31_1.gif' %}" width="88" height="31">
                    </a>
                </textarea>
            {% endspaceless %}
        </td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td>
            <img src="{% static 'i/banner/bun2_88x31_1.gif' %}" width="88" height="31">
        </td>
        <td><b>:</b></td>
        <td>
            {% spaceless %}
                <textarea rows="3" cols="40" readonly="readonly">
                    <a href="{% url 'pages:opposition' %}">
                        <img src="{% static 'i/banner/bun2_88x31_1.gif' %}" width="88" height="31">
                    </a>
                </textarea>
            {% endspaceless %}
        </td>
    </tr>
</table>
<br>
<br>
<br>
{% endblock %}

{% block sidebar %}{% endblock %}
