{% extends 'pages/opposition/base.html' %}

{% load htmlutils %}

{% block main_section %}
    <div align=center>
        <br>
        <font face=arial size="+2" color="#990000"><b>КОЛЬЦО ОППОЗИЦИИ</b></font>
    </div>
    <div class=normal>
        <p>
            На <a class="uline" href="/">ФОРУМЕ.мск</a> открыто Кольцо оппозиции  - специальная страница
            для каталога оппозиционных ресурсов Рунета.
            <a class="uline" href="/">ФОРУМ.мск</a> является порталом объединяющейся оппозиции,
            и создание такого каталога именно здесь, у нас наиболее оправданно.
            Чтобы не вызывать ненужных вопросов о нашей объективности (необъективности),
            мы не будем включать в каталог <a class="uline" href="/">ФОРУМ.мск</a>, надеемся,
            что с нами и так ясно кто мы и что мы.
        </p>
        <p>Для включения в наш каталог нужно сделать 3 важных вещи:</p>
        <ul>
            <li>написать о своем желании веб-мастеру <a class="uline" href="/">ФОРУМА.мск</a> по адресу:
                <a class="uline" href="mailto:forum-msk@yandex.ru">forum-msk@yandex.ru</a>
            </li>
            <li>поставить на первой странице своего сайта кнопку  Кольца оппозиции
                (или <a class="uline" href="/">ФОРУМА.мск</a> по выбору)
            </li>
            <li>соответствовать общепринятым представлениям об оппозиционном ресурсе
                (поэтому структурам, пытающимся поддержать власть, имитируя оппозиционную деятельность,
                можно не беспокоиться).
            </li>
        </ul>
        <p>
            Рейтинг в каталоге выставляется на основе субъективной оценки посещаемости, цитируемости,
            известности и значимости ресурса довольно большой группой экспертов.
            Берется средняя составляющая их мнений. На полную объективность не претендует,
            но исключает возможность накрутки. В случае несогласия мы принимаем аргументированные возражения.
        </p>
        <p>
            По поводу обмена материалами и иных формах информационного сотрудничества
            <a class="uline" href="mailto:forum-msk@yandex.ru">пишите</a>.
            Мы это только приветствуем и обязательно найдем приемлемую форму взаимоотношений.
        </p>
        <p>
            <a class="uline" href="{% url 'pages:advert' %}">Реклама</a> и иные возмездные формы сотрудничества
            приветствуются с еще большим энтузиазмом оппозиция редко бывает богатой.
        </p>
    </div>
    <br>
    <br>
    <div align=center>
        <font face=arial color="#990000"><b>Рейтинг ведущих оппозиционных русскоязычных сайтов</b></font>
    </div>

    <table width=80% align=center>
        <tr>
            {% for sublist in partitions|group:'2' %}
                <td class="valign-top">
                    {% for item in sublist %}
                        <b><a href="{% url 'pages:partition' item.partition.id %}" class="r_s"><nobr>{{ item.partition.name }}</nobr></a></b>
                        <br>
                        {% for resource in item.resources %}
                            &#149;<a class="r_a" href="{{ resource.url }}" target="_blank">{{ resource.name }}</a>
                        {% endfor %}
                        <div style="width:1px; height:3px"><!-- --></div>
                    {% endfor %}
                </td>
                {% if not forloop.last %}
                    <td>&nbsp;</td>
                {% endif %}
            {% endfor %}
        </tr>
    </table>
    <br>
    <br>
    <br>
    <div align=center>
        <font face=arial color="#990000"><b>Последние поступления</b></font>
    </div>
    <br>
    {% include 'pages/opposition/incl/resources.html' with resources=new_resources %}
{% endblock %}
