{% extends 'base.html' %}

{% load static %}
{% load htmlutils %}
{% load capture_tags %}

{% block title %}Публикации {{ object.cover_name }} - ФОРУМ.мск{% endblock %}

{% block content %}

    {% capture as about_author_tmpl silent %}
        <table class="full-table">
            <tr>
                <td>
                    <div class="or2_normal">&nbsp;&nbsp;<b>Об авторе:</b></div>
                    <div class="normal">
                        <img class="pwi" src="{{ object.icon|crop:'100x100' }}" alt="{{ object.cover_name|safe }}">
                        {{ object.description }}
                    </div>
                </td>
            </tr>
        </table>
    {% endcapture %}
    {% include 'incl/tile/base_orange.html' with title='Автор - '|add:object.cover_name content=about_author_tmpl %}

    <div style="width:1px; height:7px"><!-- --></div>

    {% capture as author_article_list_tmpl silent %}
        <div class="p_hv">
            <div class="normal">
                <ul>
                    {% for article in obj_atricles %}
                        <li>
                            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                            <span class="grey">
                                {{ article.publish_date|date:'d.m.Y' }}
                            </span>
                            <span class="active">
                                <a href="{{ article.get_absolute_url }}">&gt;&gt;</a>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endcapture %}
    {% include 'incl/tile/base_blue.html' with title='Последние статьи автора:' content=author_article_list_tmpl %}

{% endblock %}
