{% extends 'incl/tile/base_blue.html' %}

{% block height_class %}{% endblock %}

{% block title %}
    {% if material %}
        <a href="{% url 'articles:section' material.section.slug %}">{{ material.section.name }}</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if material and material.articles %}

        {% with article=material.articles.0 %}
            <table class="full-table">
                <tr>
                    <td>
                        {% include 'incl/tile/content.html' with color='blue' %}
                    </td>
                </tr>
            </table>
        {% endwith %}

        {% if material.articles|length > 1 %}
            <div style="height:1px; background: #C1DAE6;"><!-- --></div>
            <div class="normal">
                <div class="p_h">
                    {% for article in material.articles|slice:'1:' %}
                        <div class="list {% if article.video %}list_video{% endif %}">
                            {% include 'articles/incl/link.html' with article=article %}
                        </div>
                    {% endfor %}
                </div>
                <div style="height:1px; background: #C1DAE6;"><!-- --></div>
                <div class="p_hv">
                    <div class="align-right">
                        <a href="{% url 'articles:section' material.section.slug %}">все материалы раздела</a>
                        <span class="active">
                            <a href="{% url 'articles:section' material.section.slug %}">&gt;&gt;</a>
                        </span>
                    </div>
                </div>
            </div>
        {% endif %}

    {% endif %}
{% endblock %}
