{% extends 'incl/sidebar/blocks/base.html' %}

{% block color_class %}bg_sidebar_blue{% endblock %}

{% block title %}<a href="{% url 'articles:video' %}">Интернет-ТВ</a>{% endblock %}

{% block content %}
<table class="wp100">
    <tr>
        {% for article in sidebar_videos %}
            <td class="valign-top wp50">
                <table class="wp100">
                    <tr>
                        <td class="valign-top">
                            <img class="pwi" src="{{ article.icon }}" alt="{{ article.title }}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="or2">
                                <a href="/video/?video={{ article.id }}">
                                    {% if article.title|length > 50 %}
                                        {{ article.title|slice:':50' }}...
                                    {% else %}
                                        {{ article.title }}
                                    {% endif %}
                                </a>
                                <br />
                                {{ article.publish_date|date:'d.m.Y' }}
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        {% endfor %}
    </tr>
</table>

<div style="height:1px; background: #C1DAE6;"><!-- --></div>

<table class="wp100">
    <tr>
        <td>
            <div class="p_hv">
                <span class="active">
                    <a href="/video/add.html">&lt;&lt;</a>
                </span>
                <a href="/video/add.html">прислать видео</a>
            </div>
        </td>
        <td class="align-right">
            <div class="align-right p_hv">
                <a href="{% url 'articles:video' %}">все видео</a>
                <span class="active">
                    <a href="{% url 'articles:video' %}">&gt;&gt;</a>
                </span>
            </div>
        </td>
    </tr>
</table>
{% endblock %}
