{% extends 'incl/sidebar/blocks/base.html' %}

{% block title %}<a href="{% url 'articles:notice' %}">Анонсы</a>{% endblock %}

{% block content %}
<ul style="margin: 0; padding: 0 5px 0 10px;">
    {% for notice in notices %}
        <li class="li_normal">
            <a href="{% url 'articles:notice' %}#{{ notice.id }}">{{ notice.content|safe }}</a>
            <span class="active_or">
                <a href="{% url 'articles:notice' %}#{{ notice.id }}">&gt;&gt;</a>
            </span>
        </li>
    {% endfor %}
</ul>
<div style="height:1px; background: #FFD4B7;"><!-- --></div>
<table class="wp100">
    <tr>
        <td class="align-left">
            <div class="p_hv nobr">
                <span class="active_or">
                    <a href="{% url 'articles:notice' %}#send">&lt;&lt;</a>
                </span>
                <a href="{% url 'articles:notice' %}#send">добавить анонс</a>
            </div>
        </td>
        <td class="align-right">
            <div class="align-right p_hv nobr">
                <a href="{% url 'articles:notice' %}">последние анонсы</a>
                <span class="active_or">
                    <a href="{% url 'articles:notice' %}">&gt;&gt;</a>
                </span>
            </div>
        </td>
    </tr>
</table>
{% endblock %}
