{% extends 'base.html' %}

{% load static %}
{% load htmlutils %}
{% load capture_tags %}

{% block title %}{{ object.title|safe }} - {{ art_section.name }} - ФОРУМ.мск{% endblock %}

{% block description %}{{ object.preview|striptags }}{% endblock %}

{% block keywords %}
    {% if object.tags.all %}
        <meta content="{% for ti in object.tags.all %}{{ ti.tag.name }}{% if not forloop.last %},{% endif %}{% endfor %}"
              name="keywords">
    {% endif %}
{% endblock %}

{% block mobile_url %}
    <link rel="alternate" media="only screen and (max-width: 640px)" href="{{ request.scheme }}://{{ request.get_host }}{{ object.get_pda_url }}" />
    <link rel="alternate" media="handheld" href="{{ request.scheme }}://{{ request.get_host }}{{ object.get_pda_url }}" />
{% endblock %}

{% block meta_url %}
    <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ object.get_absolute_url }}" />
{% endblock %}
{% block meta_image %}
    <meta property="og:image" content="{% if object.image %}{{ request.scheme }}://{{ request.get_host }}{% endif %}{{ object.icon }}" />
{% endblock %}

{% block content %}

    {% capture as article_detail_tmpl silent %}
        <div class="p_hv" itemscope itemtype="http://schema.org/NewsArticle">
            <div class="big1 ortext newstitle">
                <h1 itemprop="headline">{{ object.title|safe }}</h1>
            </div>
            <p class="news-meta">
                <span>Опубликовано {{ object.publish_date|date:'d.m.Y' }}</span>
                <meta itemprop="datePublished" content="{{ object.publish_date|date:'Y-m-d' }}"/>
                <meta itemprop="articleSection" content="{{ art_section.name }}">
                <span>
                    автором
                    {% include 'authors/incl/cover_name.html' with article=object microdata=True %}
                </span>
                <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    в разделе
                    <a itemprop="url" href="{% if object.is_news %}{% url 'articles:section' 'news' %}{% else %}{{ art_section.get_absolute_url }}{% endif %}">
                        <em itemprop="title">
                            {{ art_section.name }}
                        </em>
                    </a>
                </span>
                {% if object.show_comments %}
                    <span>
                        <a href="#clist" itemprop="discussionUrl" content="{{ article.get_absolute_url }}#clist">
                            комментариев {{ object.comments_count }}
                        </a>
                    </span>
                {% endif %}
            </p>
            {% if object.tags.all %}
                {% for tag_item in object.tags.all %}
                    <a href="{{ tag_item.tag.get_absolute_url }}" class="news-tag">{{ tag_item.tag.name }}</a>
                {% endfor %}
                <meta itemprop="keywords" content="{{ object.keywords }}"/>
            {% endif %}
            {% if not object.video %}
                <table class="noborder align-left" style="float:left">
                    <tr>
                        <td>
                            <img itemprop="thumbnailUrl" class="pwi" src="{{ object.icon|crop:'100x100' }}"
                                 alt="{{ object.title }}" width="100">
                        </td>
                    </tr>
                </table>
            {% endif %}
            <div class="or2_normal">
                {% if object.source %}
                    <br>
                    <span>
                        Источник:
                        {% if object.source_link and object.source_link|slice:':4' == 'http' %}
                            <a href="{{ object.source_link }}">{{ object.source }}</a>
                        {% else %}
                            {{ object.source }}
                        {% endif %}
                    </span>
                {% endif %}

                {% if object.attach_set.all %}
                    <br>&nbsp;Прикреплено:
                    {% for media in object.attach_set.all %}
                        <a href="{{ media.link }}" target="_blank">{{ media.description }}</a>&nbsp;
                    {% endfor %}
                    <br>
                {% endif %}
            </div>
            <div class="p_t">
                <div class="normal newsbody" itemprop="articleBody">
                    {% if object.video %}
                        {{ object.video_code|safe }}
                        <br>
                    {% endif %}
                    {% if object.content|length > 1990 %}
                        {% include 'incl/adv/ads_by_google.html' %}
                    {% endif %}
                    <!--content-->
                    {{ object.content|safe }}
                    <!--/content-->
                    <br />
                    <br />
                    <div class="normal">
                        <table class="full-table">
                            <tr>
                                <td class="align-left">
                                    {% include 'incl/block_vote.html' with article=object %}
                                </td>
                                <td class="align-right">
                                    <table class="noborder">
                                        <tr>
                                            <td>
                                                <span class="newshare">Поделиться</span>
                                                <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
                                                <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus" data-yashareTheme="counter"></div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endcapture %}
    {% include 'incl/tile/base.html' with content=article_detail_tmpl hide_tile_title=True %}

    <div style="margin-top: 5px;" class="normal align-center">
        {% include 'incl/adv/ya_direct.html' %}
    </div>

    <div style="width:1px; height:7px"><!-- --></div>

    {% if object.show_comments %}

        <!--noindex-->
        {% include 'incl/forum.html' with article=object %}
        <!--/noindex-->
        <div style="width:1px; height:5px"><!-- --></div>
        <div id="yandex_ad_R-59310-2"></div>
        {% include 'incl/adv/ya_context.html' with block_id='R-59310-2' %}
        <div style="width:1px; height:5px"><!-- --></div>

    {% elif in_sections %}

        <div style="width:1px; height:5px"><!-- --></div>
        {% with articles=in_sections %}

            {% capture as in_section_tmpl silent %}
                <table cellpadding=0 cellspacing=0 width="100%">
                    {% for article in articles %}
                        <tr>
                            <td>
                                <div class="normal align-right">
                                    <a href="{% url 'articles:section' article.section.slug %}">{{ article.section.name }}</a>
                                </div>
                            </td>
                            <td>
                                {% include 'incl/tile/content.html' with color='blue' %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endcapture %}
            {% include 'incl/tile/base.html' with title='В разделах:' content=in_section_tmpl color_class='bl_inside' %}

        {% endwith %}

    {% endif %}
{% endblock %}
