{% extends 'base.html' %}

{% load static %}
{% load htmlutils %}

{% block title %}{{ object.title }} - {{ art_section.name }} - ФОРУМ.мск{% endblock %}

{% block description %}{{ object.preview|striptags }}{% endblock %}

{% block keywords %}
    {% if object.tags.all %}
        <meta content="{% for ti in object.tags.all %}{{ ti.tag.name }}{% if not forloop.last %},{% endif %}{% endfor %}"
              name="keywords">
    {% endif %}
{% endblock %}

{% block mobile_url %}
    <link rel="alternate" media="only screen and (max-width: 640px)" href="{{ request.scheme }}://{{ request.get_host }}{{ object.get_pda_url }}" />
    <link rel="alternate" media="handheld" href="{{ request.scheme }}://{{ request.get_host }}{{ object.get_pda_url }}" />
{% endblock %}

{% block meta_url %}
    <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ object.get_absolute_url }}" />
{% endblock %}
{% block meta_image %}
    <meta property="og:image" content="{% if object.image %}{{ request.scheme }}://{{ request.get_host }}{% endif %}{{ object.icon }}" />
{% endblock %}

{% block content %}
    {% include 'articles/incl/tile/article_detail.html' with hide_tile_title=True %}

    <div style="margin-top: 5px;" class="normal align-center">
        {% include 'incl/adv/ya_direct.html' %}
    </div>

    <div style="width:1px; height:7px"><!-- --></div>

    {% if object.show_comments %}

        <!--noindex-->
        {% include 'incl/forum.html' with article=object %}
        <!--/noindex-->
        <div style="width:1px; height:5px"><!-- --></div>
        <div id="yandex_ad_R-59310-2"></div>
        {% include 'incl/adv/ya_context.html' with block_id='R-59310-2' %}
        <div style="width:1px; height:5px"><!-- --></div>

    {% elif in_sections %}

        <div style="width:1px; height:5px"><!-- --></div>
        {% with articles=in_sections %}
            <div class="big1 bl">В разделах:</div>
            <div style="width:1px; height:1px"><!-- --></div>
            <div class="border_bl">
                <table cellpadding=0 cellspacing=0 width="100%" class="border_t_bl">
                    {% for article in articles %}
                        <tr>
                            <td>
                                <div class="normal align-right">
                                    <a href="{% url 'articles:section' article.section.slug %}">{{ article.section.name }}</a>
                                </div>
                            </td>
                            <td>
                                {% include 'incl/tile/content.html' with color='blue' %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endwith %}

    {% endif %}
{% endblock %}
