{% extends 'base.html' %}

{% load static %}
{% load htmlutils %}

{% block title %}{{ partition.name }}{% if page_obj.number > 1 %}, страница {{ page_obj.number }}{% endif %} - ФОРУМ.мск{% endblock %}

{% block description %}{{ partition.name }}{% endblock %}

{% block mobile_url %}
    <link rel="alternate" media="only screen and (max-width: 640px)" href="{{ request.scheme }}://{{ request.get_host }}{{ partition.get_pda_url }}" />
    <link rel="alternate" media="handheld" href="{{ request.scheme }}://{{ request.get_host }}{{ partition.get_pda_url }}" />
{% endblock %}

{% block content %}
    {% include 'articles/incl/tile/article_list.html' with title=partition.name %}
{% endblock %}
