<?xml version="1.0" encoding="koi8-r"?>
<rss version="2.0">
	<channel>
		<title>ФОРУМ.мск</title>
		<link>http://forum-msk.org</link>
		<description>ФОРУМ.мск - Интернет-портал объединяющейся оппозиции</description>
		<language>ru-ru</language>
		<pubDate>Wed, 22 Mar 2017 01:01:00 +0300</pubDate>
		<docs>http://blogs.law.harvard.edu/tech/rss</docs>
		<generator>gurets</generator>
		<managingEditor>gurets@gmail.com</managingEditor>
		<webMaster>gurets@gmail.com</webMaster>

	<item>
		<title>Левада-Центр: Путин останется у власти &quot;хотят люди этого или нет&quot;</title>
		<link>http://forum-msk.org/material/news/12976123.html</link>
		<pubDate>Wed, 22 Mar 2017 00:25:00 +0300</pubDate>
		<description>&lt;p&gt;Действующий президент России Владимир Путин будет переизбран в 2018 году, независимо от того, &quot;хотят этого люди или нет&quot;, заявил глава &quot;Левада-Центра&quot; Лев Гудков. &quot;Сегодня Путина поддерживают 63% россиян. Люди понимают: альтернативы Путину нет&quot;, -&amp;nbsp;сообщил социолог, отметив, что &quot;решающим вопросом становится явка на выборах&quot;.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12976123.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>К экономической блокаде Киевом республик Донецкого кряжа</title>
		<link>http://forum-msk.org/material/economic/12975895.html</link>
		<pubDate>Wed, 22 Mar 2017 00:01:00 +0300</pubDate>
		<description>&lt;p class=&quot;p1&quot;&gt;Задача &amp;ndash; сбросить подушевой ВВП Украины на уровень ниже 2 тысяч долларов. За этим уровнем начинается социальный распад, государство лишается возможности поддерживать элементарные функции. Даже полицейские и оборонные. ВВП на душу населения у &amp;laquo;новой Украины&amp;raquo; с 1991 года никогда не достигала показателей Украинской ССР 1990-го. Дно падения ВВП - 40,8% от уровня 1990 г. в 1999 г. Максимум, чего достигли при самостийности &amp;ndash; 74,2% в 2008 г. После 2008 г. начался кризис и новое падение. В общем, &amp;laquo;предвоенный&amp;raquo; 2013 г. &amp;ndash; это &amp;ndash;69,4% от уровня 1990 г.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/economic/12975895.html#</guid>
		<author>Калашников Максим</author>
		<category domain="http://forum-msk.org/material/economic/">Экономическая реальность</category>
	</item>
	<item>
		<title>Почему я не коррупционер?</title>
		<link>http://forum-msk.org/material/region/12975815.html</link>
		<pubDate>Wed, 22 Mar 2017 00:00:00 +0300</pubDate>
		<description>&lt;p&gt;Сегодня о коррупции могут говорить и писать либо сами коррупционеры, либо больные на голову. 20 - го марта с утра пораньше на канале телевидения &quot;ОТР&quot; шла передача о коррупции. Участники - Н.Матвеев - ведущий, М.Кащенко, Б.Нигматулин, Д.Примаков, Е.Дыбова, О.Крыштановская, Д.Абзалов. Я коррупционером быть не могу, потому что стар и живу огородом и пенсией. А вот на счет второго решать вам. Люди знакомые большинству и занимающие чиновничьи должности. Наверное не бедные. Пытались объяснить причину коррупции, какие действия можно отнести к коррупционным.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/region/12975815.html#</guid>
		<author>Григорий Полуэктов</author>
		<category domain="http://forum-msk.org/material/region/">Жизнь регионов</category>
	</item>
	<item>
		<title>Убийство Евдокимова прошло с нарушениями</title>
		<link>http://forum-msk.org/material/news/12975882.html</link>
		<pubDate>Wed, 22 Mar 2017 00:00:00 +0300</pubDate>
		<description>&lt;p&gt;Прокуратура Москвы обнаружила нарушения в столичном следственном изоляторе &amp;#8470;5 (&amp;laquo;Водник&amp;raquo;), где в субботу, 18 марта, погиб исполнительный директор &amp;laquo;Роскосмоса&amp;raquo; Владимир Евдокимов. Евдокимов скончался из-за трех ножевых ранений в грудь и шею.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12975882.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Адвокат по делу Магнитского &quot;выпал&quot; из окна</title>
		<link>http://forum-msk.org/material/news/12975960.html</link>
		<pubDate>Tue, 21 Mar 2017 23:34:00 +0300</pubDate>
		<description>&lt;p&gt;В Новой Москве из окна 5-го этажа выпал адвокат Николай Горохов, который представлял интересы матери погибшего в СИЗО Сергея Магнитского и объявленного в розыск главы Hermitage Capital Уильяма Браудера.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12975960.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Минэкономразвития может получить контроль над Росстатом</title>
		<link>http://forum-msk.org/material/news/12975948.html</link>
		<pubDate>Tue, 21 Mar 2017 23:28:00 +0300</pubDate>
		<description>&lt;p&gt;В российском правительстве недовольны качеством статистической информации Росстата и намерены переподчинить ведомство Министерству экономического развития.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12975948.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Реальные доходы россиян упали еще на 4,1%</title>
		<link>http://forum-msk.org/material/news/12975296.html</link>
		<pubDate>Tue, 21 Mar 2017 20:14:00 +0300</pubDate>
		<description>&lt;p&gt;Реальные доходы россиян в феврале 2017 года, по предварительным данным, снизились по сравнению с аналогичным периодом 2016 года на 4,1%, сообщает Федеральная служба государственной статистики (Росстат).&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12975296.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Розничная торговля в РФ продолжает падать рекордными темпами</title>
		<link>http://forum-msk.org/material/news/12975190.html</link>
		<pubDate>Tue, 21 Mar 2017 18:32:00 +0300</pubDate>
		<description>&lt;p&gt;Оборот розничной торговли в России в феврале 2017 года составил 2 трлн 158,1 млрд руб., что на 2,6 % меньше результата аналогичного периода прошлого года, сообщает Росстат.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12975190.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Суд Екатеринбурга решил, что митинг против коррупции &quot;подрывает основы государственного строя&quot;</title>
		<link>http://forum-msk.org/material/news/12975044.html</link>
		<pubDate>Tue, 21 Mar 2017 17:54:00 +0300</pubDate>
		<description>&lt;p&gt;Ленинский райсуд Екатеринбурга отклонил иск сторонников Алексея Навального, пытавшихся опротестовать запрет на проведение в уральской столице митинга против коррупции.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12975044.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Мосгорсуд приравнял встречи депутатов с избирателями к митингам</title>
		<link>http://forum-msk.org/material/news/12974893.html</link>
		<pubDate>Tue, 21 Mar 2017 17:20:00 +0300</pubDate>
		<description>&lt;p&gt;Мосгорсуд признал законным приравнивание встреч с избирателями муниципальных депутатов и депутатов городского парламента к митингам. Теперь для проведения подобных встреч депутаты будут обязаны получать разрешения столичных&amp;nbsp;властей.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12974893.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>В Хабаровске организатора митинга против коррупции оштрафовали до его проведения</title>
		<link>http://forum-msk.org/material/news/12974803.html</link>
		<pubDate>Tue, 21 Mar 2017 15:57:00 +0300</pubDate>
		<description>&lt;p&gt;Суд Хабаровска оштрафовал на 10 тысяч рублей одного из организаторов еще не состоявшегося митинга против коррупции и за отставку премьер-министра РФ. активисты подали в мэрию заявление на проведение мероприятия, но когда пришли забирать ответ, их встретили сотрудники центра по противодействию экстремизму.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12974803.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Строители резиденции Путина попались на хищениях 5,5 миллиардов рублей</title>
		<link>http://forum-msk.org/material/news/12974541.html</link>
		<pubDate>Tue, 21 Mar 2017 15:24:00 +0300</pubDate>
		<description>&lt;p&gt;Глава ФГУП &quot;Атэкс&quot; Федеральной службы охраны Андрей Каминов и гендиректор компании &quot;Стройфасад&quot; Станислав Кюнер задержаны в Москве по подозрению в причастности к хищению более 5,5 млрд рублей при строительстве резиденции президента России Владимира Путина в Ново-Огарево.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12974541.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Медведев &quot;подкинул&quot; пенсионерам 129 рублей</title>
		<link>http://forum-msk.org/material/news/12974489.html</link>
		<pubDate>Tue, 21 Mar 2017 14:40:00 +0300</pubDate>
		<description>&lt;p&gt;Пенсии неработающих пенсионеров вырастут с 1 апреля 2017 года на 1,5%, соответствующее постановление правительства подписал премьер-министр Дмитрий Медведев.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12974489.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Путин пообещал увеличить продолжительность жизни россиян до 76 лет</title>
		<link>http://forum-msk.org/material/news/12974341.html</link>
		<pubDate>Tue, 21 Mar 2017 14:39:00 +0300</pubDate>
		<description>&lt;p&gt;К 2025 году средняя продолжительность жизни в России должна превысить 75 лет, заявил президент РФ Владимир Путин, выступая на заседании Совета по стратегическому развитию и приоритетным проектам. &quot;Есть все возможности для того, чтобы к 2025 году увеличить продолжительность жизни в России до 76 лет, значительно снизить смертность в трудоспособном возрасте&quot;, - заявил президент.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12974341.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>&quot;На углу, у Патриарших&quot;: снос исторической Москвы продолжается</title>
		<link>http://forum-msk.org/material/moscow/12974282.html</link>
		<pubDate>Tue, 21 Mar 2017 14:02:00 +0300</pubDate>
		<description>&lt;p&gt;На фоне рекламируемой широко программы &quot;Война хижинам, мир дворцам&quot; (окончательное решение в Москве &quot;хрущобного вопроса&quot;, затронувшее даже девятиэтажки и поднявшее с диванов в протест ту часть москвичей, которые протестовать не планировали) - продолжается снос и дворцов, только не новорусских новоделов, а аутентичных, исконных московских фасадов. В этом плане ни Лужков, ни Никита Михалков, доселе славившиеся вандализмом в этом районе - ни затмят того, что делает Собянин.&amp;nbsp;&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/moscow/12974282.html#</guid>
		<category domain="http://forum-msk.org/material/moscow/">Московский листок</category>
	</item>
	<item>
		<title>Метростроевцы СМУ &amp;laquo;ИНГЕОКОМ&amp;raquo; вышли на очередную забастовку из-за невыплаты зарплат</title>
		<link>http://forum-msk.org/material/news/12974128.html</link>
		<pubDate>Tue, 21 Mar 2017 13:05:00 +0300</pubDate>
		<description>&lt;p&gt;В Москве во вторник 21 марта около 100 сотрудников СМУ &quot;ИНГЕОКОМ&quot; объявили забастовку в знак протеста против невыплаты зарплаты, сообщил ФОРУМу.мск активист РРП Александр Зимбовский.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12974128.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Россия заплатит $125 млн по долгу СССР перед Югославией</title>
		<link>http://forum-msk.org/material/news/12974059.html</link>
		<pubDate>Tue, 21 Mar 2017 12:41:00 +0300</pubDate>
		<description>&lt;p&gt;Россия выплатит $125 млн по долгу бывшего СССР перед Социалистической Федеративной Республикой Югославия, сообщил журналистам замминистра финансов Сергей Сторчак по итогам подписания межправительственного соглашения.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12974059.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Сотрудники ФСБ избили аспиранта МГУ за флаг Украины</title>
		<link>http://forum-msk.org/material/news/12973973.html</link>
		<pubDate>Tue, 21 Mar 2017 12:13:00 +0300</pubDate>
		<description>&lt;p&gt;Аспиранта исторического факультета МГУ, который 18 марта во время фестиваля в честь Крыма размахивал из окна своей комнаты в общежитии самодельным флагом Украины, допросили и избили сотрудники ФСБ.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12973973.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Бедность работающих россиян признали системным явлением</title>
		<link>http://forum-msk.org/material/news/12973850.html</link>
		<pubDate>Tue, 21 Mar 2017 11:48:00 +0300</pubDate>
		<description>&lt;p&gt;В России за последние 20 лет сложился специфический рынок труда, который приспосабливается к колебаниям экономики за счет изменения зарплат, а не за счет изменения уровня безработицы, как это наблюдается в развитых странах.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12973850.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Участник теракта на Дубровке приговорен к 19 годам колонии</title>
		<link>http://forum-msk.org/material/news/12973793.html</link>
		<pubDate>Tue, 21 Mar 2017 11:17:00 +0300</pubDate>
		<description>&lt;p&gt;Московский окружной военный суд приговорил к 19 годам колонии строго режима Хасана Закаева, признав его виновным в пособничестве террористам, захватившим заложников в театральном центре на Дубровке в Москве в 2002 году.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12973793.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Россиян заставят платить налоги за долги</title>
		<link>http://forum-msk.org/material/news/12973702.html</link>
		<pubDate>Tue, 21 Mar 2017 10:34:00 +0300</pubDate>
		<description>&lt;p&gt;Российские операторы связи отправили в налоговую инспекцию данные о полученных, но не оплаченных россиянами услугах и с них теперь придется заплатить подоходный налог.&amp;nbsp;Передавать должников в инспекцию смогут и банки, и предприятия ЖКХ.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12973702.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Милонов заподозрил масонов во вмешательстве в политику России</title>
		<link>http://forum-msk.org/material/news/12973614.html</link>
		<pubDate>Tue, 21 Mar 2017 10:27:00 +0300</pubDate>
		<description>&lt;p&gt;Депутат-единоросс Виталий Милонов призвал генерального прокурора Юрия Чайку проверить деятельность масонских сообществ в России. По его словам, в стране действует множество общественных и политических объединений, при этом законодательство запрещает иностранным и транснациональным компаниям заниматься политической деятельностью и вмешиваться во внутренние процессы.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12973614.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>В правительстве задумались о возвращении налога с продаж</title>
		<link>http://forum-msk.org/material/news/12973567.html</link>
		<pubDate>Tue, 21 Mar 2017 10:26:00 +0300</pubDate>
		<description>&lt;p&gt;Вместо предложенного Минфином повышения НДС до 22% может быть введен налог с продаж с 2019 года. Ставка налога пока не известна, обсуждается только механизм &amp;mdash; администрировать налог с продаж стало значительно легче с введением контрольно-кассовой техники, работающей онлайн.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12973567.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>17 британских банков заподозрили в отмывании миллиардов из России по &quot;молдавской схеме&quot;</title>
		<link>http://forum-msk.org/material/news/12973508.html</link>
		<pubDate>Tue, 21 Mar 2017 10:06:00 +0300</pubDate>
		<description>&lt;p&gt;В так называемой &quot;молдавской схеме&quot; отмывания денег из России были задействованы 17 крупнейших британских банков, включая HSBC, Royal Bank of Scotland, Barclays, Lloyds, Coutts, сообщает The Guardian со ссылкой на финансовые документы.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12973508.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Кандидат в президенты Франции высказался против сближения с Россией</title>
		<link>http://forum-msk.org/material/news/12973335.html</link>
		<pubDate>Tue, 21 Mar 2017 08:54:00 +0300</pubDate>
		<description>&lt;p&gt;Франции не следует сближаться с Россией, она нуждается в независимости и работе с европейскими партнерами, заявил в ночь на вторник кандидат в президенты Франции Эммануэль Макрон.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12973335.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Почему Гитлер застрелился</title>
		<link>http://forum-msk.org/material/power/12972159.html</link>
		<pubDate>Tue, 21 Mar 2017 01:25:00 +0300</pubDate>
		<description>&lt;p&gt;Понять Гитлера, почему он предпочитал СССР, можно вот из такой информации фон Белова об образе мыслей Гитлера к концу войны (в данном случае будем злопамятны и вспомним, что в начале войны Гитлер считал советских людей недочеловеками):&amp;nbsp;&amp;laquo;Немецкий же народ оказался слабее, а потому должен перестать играть роль среди народов всей Земли. Поэтому Гитлер был, в своем понимании, последователен, требуя неукоснительного осуществления приказа &amp;laquo;Нерон&amp;raquo;, целью которого было превратить Германию в &amp;laquo;выжженную землю&amp;raquo;. Народ, оказавшийся более слабым, считал он, уже не нуждается ни в какой жизненной основе: &amp;laquo;Что гнило и старо, что должно пасть, надо не поддерживать, а подтолкнуть&amp;raquo;. Под конец Гитлер не уставал подчеркивать: &amp;laquo;будущее принадлежит более сильному народу Востока&amp;raquo;.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/power/12972159.html#</guid>
		<author>Юрий Мухин</author>
		<category domain="http://forum-msk.org/material/power/">Силовые структуры</category>
	</item>
	<item>
		<title>Дэвид Рокфеллер умер, но открыл новую эпоху</title>
		<link>http://forum-msk.org/material/news/12972100.html</link>
		<pubDate>Tue, 21 Mar 2017 01:07:00 +0300</pubDate>
		<description>&lt;p&gt;Конечно, главная новость - скончался миллиардер Дэвид Рокфеллер. С биологической точки зрения его смерть уж точно не была неожиданной - это случилось на 102-м году жизни. И дело не в личном богатстве - глава Дома Рокфеллеров обладал достаточно скромным по нынешним меркам личным состоянием в 3,3 миллиарда долларов, то есть не входил даже в 500 богатейших людей планеты. Однако именно его дед стал первым в истории обладателем миллиардного состояния, так что влияние покойного навряд ли ограничивалось личными финансами.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12972100.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Не только запрещено законодательством, но и выглядит совершенно отвратительно</title>
		<link>http://forum-msk.org/material/region/12970981.html</link>
		<pubDate>Tue, 21 Mar 2017 00:04:00 +0300</pubDate>
		<description>&lt;p&gt;В &amp;laquo;Народной палате Подмосковья&amp;raquo; прошел круглый стол по вопросам утилизации ТКО на территории Московской области, незаконной работы полигонов ТБО, а также проблеме планов строительства на территории региона мусоросжигательных заводов.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/region/12970981.html#</guid>
		<author>Александр Гаврилин</author>
		<category domain="http://forum-msk.org/material/region/">Жизнь регионов</category>
	</item>
	<item>
		<title>Идея кинофестиваля региональных фильмов в России пока не реализована, но частично воплощена... в Венгрии</title>
		<link>http://forum-msk.org/material/news/12971820.html</link>
		<pubDate>Tue, 21 Mar 2017 00:00:00 +0300</pubDate>
		<description>&lt;p&gt;Новые цифровые технологии сделали кинооборудование недорогим, общедоступным и простым в эксплуатации, поэтому с полным основанием можно утверждать: кино сегодня снимается практически во всех субъектах Российской Федерации. Региональные фильмы отбираются на всероссийские и международные фестивали, получают награды. Однако признание киносообщества и престижные призы не открывают дорогу во всероссийский прокат и федеральный телеэфир даже самым талантливым и социально значимым фильмам. Приходится констатировать: сегодня в России нет механизма продвижения региональной кинопродукции к массовому зрителю.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12971820.html#</guid>
		<author>Митина Дарья</author>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Гострибуна для самозванца</title>
		<link>http://forum-msk.org/material/kompromat/12971028.html</link>
		<pubDate>Tue, 21 Mar 2017 00:00:00 +0300</pubDate>
		<description>&lt;p&gt;Россия сегодня, наконец-то, превратилась в настоящее демократическое государство. Доказательством тому может служить тот факт, что теперь любой самозванец может спокойно выступить с трибуны главного Законодательного Собрания страны - Государственной Думы. Нарядившись в форму казачьего полковника. И при этом никто даже не поинтересуется, является ли действительно этот выступающий реальным &amp;#171;казачьим полковником&amp;#187; или это некий ряженый персонаж, пришедший на заседание для каких-то своих, одному ему известных целей.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/kompromat/12971028.html#</guid>
		<author>Сергей Комков</author>
		<category domain="http://forum-msk.org/material/kompromat/">Компрометирующие материалы</category>
	</item>
	<item>
		<title>Правдивая ложь</title>
		<link>http://forum-msk.org/material/economic/12965223.html</link>
		<pubDate>Tue, 21 Mar 2017 00:00:00 +0300</pubDate>
		<description>&lt;p&gt;Правда в том, что для развития страны и благополучия людей лучше государственная собственность.&amp;nbsp;Только кто это скажет вслух?&amp;nbsp;&amp;nbsp;Государство сдало нас в аренду, вместо того, чтобы защищать наши права.&amp;nbsp;Поймите уже, Путин не наш президент, он служит деньгам, а народ только средство, его назначил Ельцин, недавно он награждал жену Ельцина &amp;mdash; это их человек и сам не бедный.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/economic/12965223.html#</guid>
		<author>С.Ушелец</author>
		<category domain="http://forum-msk.org/material/economic/">Экономическая реальность</category>
	</item>
	<item>
		<title>Набережную Архангельска к приезду Путина покрыли паркетом</title>
		<link>http://forum-msk.org/material/news/12971462.html</link>
		<pubDate>Mon, 20 Mar 2017 21:25:00 +0300</pubDate>
		<description>&lt;p&gt;Дорожные службы Архангельска к визиту в город президента Владимира Путина застелили городскую набережную паркетом. Деревянный тротуар начинается от городского морского вокзала и ведет к главному корпусу Северного федерального университета.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12971462.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>МВФ отказал Украине в кредите</title>
		<link>http://forum-msk.org/material/news/12971353.html</link>
		<pubDate>Mon, 20 Mar 2017 20:21:00 +0300</pubDate>
		<description>&lt;p&gt;Международный валютный фонд отложил на неопределенный срок предоставление транша в миллиард долларов Украине. Обсуждение соответствующего вопроса исчезло из повестки совета директоров МВФ, запланированного на 20 марта.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12971353.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Бывшему губернатору Челябинской области Юревичу предъявлено обвинение во взяточничестве</title>
		<link>http://forum-msk.org/material/news/12971134.html</link>
		<pubDate>Mon, 20 Mar 2017 19:18:00 +0300</pubDate>
		<description>&lt;p&gt;Экс-губернатору Челябинской области Михаилу Юревичу предъявлено обвинение во взяточничестве и подстрекательстве к клевете,&amp;nbsp;заявила официальный представитель Следственного комитета РФ Светлана Петренко. По ее словам, Юревич систематически получал взятки от министра здравоохранения Челябинской области Виталия Тесленко, их общая сумма составила 26 млн рублей.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12971134.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>В Нью-Йорке скончался миллиардер Дэвид Рокфеллер</title>
		<link>http://forum-msk.org/material/news/12970923.html</link>
		<pubDate>Mon, 20 Mar 2017 19:17:00 +0300</pubDate>
		<description>&lt;p&gt;В понедельник утром в Нью-Йорке на 102 году жизни скончался американский миллиардер Дэвид Рокфеллер, сообщает газета The New York Times со ссылкой на представителя семьи. Известно, что миллиардер скончался во сне в своем доме в Покантико-Хиллз.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12970923.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Михельсон возглавил рейтинг самых богатых россиян по версии Forbes</title>
		<link>http://forum-msk.org/material/news/12970281.html</link>
		<pubDate>Mon, 20 Mar 2017 15:42:00 +0300</pubDate>
		<description>&lt;p&gt;Совладелец &quot;Новатэка&quot; и &quot;Сибура&quot; Леонид Михельсон во второй раз подряд возглавил рейтинг 200 самых богатых бизнесменов России, опубликованный журналом Forbes. Его состояние, по данным журнала, по сравнению с 2016 годом увеличилось на $4 млрд до $18,4 млрд. В общемировом рейтинге Михельсон занял 46-е место.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12970281.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>РПЦ поддержала десталинизацию</title>
		<link>http://forum-msk.org/material/news/12970218.html</link>
		<pubDate>Mon, 20 Mar 2017 15:27:00 +0300</pubDate>
		<description>&lt;p&gt;РПЦ поддерживает решение парламента Ингушетии о запрете на увековечение памяти Иосифа Сталина в республике. По словам главы синодального Отдела внешних церковных связей митрополита Волоколамского Илариона,&amp;nbsp;невозможно &quot;прославлять одновременно и жертв, и палачей&quot;. &quot;Увековечение памяти палачей не должно иметь место. Я думаю, рано или поздно у нас у всех будет единая оценка этих событий и этих личностей&quot;, - отметил священнослужитель.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12970218.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Украина ввела санкции против посетивших Крым европейских депутатов</title>
		<link>http://forum-msk.org/material/news/12970154.html</link>
		<pubDate>Mon, 20 Mar 2017 15:02:00 +0300</pubDate>
		<description>&lt;p&gt;Служба безопасности Украины (СБУ) ввела санкции в отношении четырех европейских депутатов, прибывших 19 марта в Крым с трехдневным визитом. &quot;Выяснилось, что на территории АР Крым незаконно находятся четыре гражданина Сербии и один гражданин Чехии. СБУ приняла решение о запрете им въезда в Украину сроком на пять лет&quot;, - сообщила в Facebook пресс-секретарь СБУ Елена Гитлянская.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12970154.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Сергею Мохнаткину добавили два года колонии</title>
		<link>http://forum-msk.org/material/news/12970093.html</link>
		<pubDate>Mon, 20 Mar 2017 14:44:00 +0300</pubDate>
		<description>&lt;p&gt;Котласский городской суд Архангельской области приговорил гражданского активиста Сергея Мохнаткина к двум годам колонии строгого режима за дезорганизацию деятельности колонии ФСИН, сообщила на своей странице в Facebook активистка Татьяна Пашкевич. &quot;Мохнаткину дали 2 года по 321 ст . и 2,6 теперь по совокупности. еще сидеть. Он еле стоял,тремор в ногах сильный,хотя шел уверенно&quot;, - рассказала она.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12970093.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Россия перебросила в Крым 2,5 тыс. десантников для учений</title>
		<link>http://forum-msk.org/material/news/12970024.html</link>
		<pubDate>Mon, 20 Mar 2017 14:21:00 +0300</pubDate>
		<description>&lt;p&gt;В Крыму на полигоне Опук начались крупномасштабные командно-штабные учения ВДВ с участием кораблей Черноморского флота и Воздушно-космических сил. По словам командующего ВДВ, генерал-полковника Андрея Сердюкова, всего в маневрах на полигоне Опук участвуют более 2,5 тысяч десантников, а также около 600 единиц боевой техники.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12970024.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Около 30 родственников и друзей губернатора Крыма Аксенова оказались на &quot;хлебных&quot; должностях</title>
		<link>http://forum-msk.org/material/news/12969882.html</link>
		<pubDate>Mon, 20 Mar 2017 13:48:00 +0300</pubDate>
		<description>&lt;p&gt;Около 30 родственников и бизнес-партнеров главы Крыма Сергея Аксенова занимают различные госдолжности, а также являются депутатами различных уровней. Так, отец главы правительства Валерий Аксенов является депутатом Госсовета, где занимает должность заместителя главы комитета по строительству и жилищно-коммунальному хозяйству. Сестра супруги Аксенова Евгения Добрыня в том же парламенте руководит комитетом по имущественным и земельным отношениям.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12969882.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Ставропольские гаишники насмерть забили нарушителя ПДД</title>
		<link>http://forum-msk.org/material/news/12969770.html</link>
		<pubDate>Mon, 20 Mar 2017 13:27:00 +0300</pubDate>
		<description>&lt;p&gt;В Пятигорске возбуждено уголовное дело против четырех инспекторов ДПС которые подозреваются в том, что насмерть забили водителя, нарушившего правила дорожного движения, говорится в сообщении на сайте СК РФ.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12969770.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Силуанов заявил о переоценке рубля на 10-12%</title>
		<link>http://forum-msk.org/material/news/12969700.html</link>
		<pubDate>Mon, 20 Mar 2017 13:27:00 +0300</pubDate>
		<description>&lt;p&gt;Рубль переукреплен на 10-12% от фундаментальных значений, заявил в понедельник журналистам министр финансов Антон Силуанов. По его словам, это дает Минфину возможность увеличить закупки валюты сверх тех операций, которые проводятся для пополнения Резервного фонда.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12969700.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Погибший в СИЗО топ-менеджер &quot;Роскосмоса&quot; Евдокимов пытался сопротивляться нападавшим</title>
		<link>http://forum-msk.org/material/news/12969646.html</link>
		<pubDate>Mon, 20 Mar 2017 12:42:00 +0300</pubDate>
		<description>&lt;p&gt;Погибший в московском СИЗО исполнительный директор госкорпорации &quot;Роскосмос&quot; по качеству и надежности Владимир Евдокимов перед смертью пытался оказать нападавшим сопротивление.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12969646.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Россельхознадзор уничтожил 11 000 тонн санкционной еды</title>
		<link>http://forum-msk.org/material/news/12969574.html</link>
		<pubDate>Mon, 20 Mar 2017 12:15:00 +0300</pubDate>
		<description>&lt;p&gt;В России за период действия продовольственного эмбарго уничтожено 10,7 тыс. тонн продукции, сообщает Россельхознадзор. Основную часть контрабанды составляли фрукты, овощи и другая продукция растительного происхождения - 10,3 тыс. тонн. Продукции животноводства, ввезенной из стран, которые подпали под российское продовольственное эмбарго, утилизировано 399 тонн.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12969574.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Автор проекта &quot;За Путина!&quot; Жарич возглавит департамент информационной политики АП</title>
		<link>http://forum-msk.org/material/news/12969410.html</link>
		<pubDate>Mon, 20 Mar 2017 12:01:00 +0300</pubDate>
		<description>&lt;p&gt;Заместитель гендиректора &quot;Уралвагонзавода&quot; Алексей Жарич возглавит департамент информационной политики управления общественных проектов администрации президента России.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12969410.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Россияне теряют 4380 рублей ежегодно из-за продовольственного эмбарго</title>
		<link>http://forum-msk.org/material/news/12969392.html</link>
		<pubDate>Mon, 20 Mar 2017 10:53:00 +0300</pubDate>
		<description>&lt;p&gt;Ежегодные потери российских потребителей от введения продуктового эмбарго составляют около 4380 рублей, говорится в исследовании РАНХиГС. В документе отмечается, что при отсутствии продуктового эмбарго стоимость набора санкционных товаров была бы ниже текущих значений примерно на 3%, а стоимость набора несанкционных товаров &amp;mdash; на 2,9%.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12969392.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>В России паспорта ДНР и ЛНР приравняли к украинским</title>
		<link>http://forum-msk.org/material/news/12969175.html</link>
		<pubDate>Mon, 20 Mar 2017 10:52:00 +0300</pubDate>
		<description>&lt;p&gt;На граждан с паспортами непризнанных Донецкой и Луганской народных республик распространяются те же миграционные правила, что и на граждан Украины. Владельцы паспортов ДНР и ЛНР без вида на жительство в России могут находиться на территории страны не более 90 дней, после чего обязаны покинуть страну.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12969175.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>В космосе отстаем уже и от Китая, но по части трамваев - впереди планеты всей</title>
		<link>http://forum-msk.org/material/news/12969159.html</link>
		<pubDate>Mon, 20 Mar 2017 10:48:00 +0300</pubDate>
		<description>&lt;p&gt;Китай ведет разработку собственной системы, которая позволила бы повторно использовать элементы ракеты-носителя после запусков, как это делает американская компании SpaceX с ракетами Falcon, пишет газета South China Morning Post.&amp;nbsp;Цель создания системы заключается в возвращении после пуска стартового ракетного двигателя для его повторного использования в дальнейшем.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12969159.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	<item>
		<title>Перед убийством топ-менеджера &quot;Роскосмоса&quot; перевели в камеру без видеонаблюдения</title>
		<link>http://forum-msk.org/material/news/12969103.html</link>
		<pubDate>Mon, 20 Mar 2017 09:55:00 +0300</pubDate>
		<description>&lt;p&gt;Исполнительный директор &quot;Роскосмоса&quot; Владимир Евдокимов за месяц до убийства был переведен из спецблока СИЗО &amp;#8470; 5 (&quot;Водник&quot;) в обычную камеру без видеонаблюдения.&lt;/p&gt;</description>
		<guid>http://forum-msk.org/material/news/12969103.html#</guid>
		<category domain="http://forum-msk.org/material/news/">Новости</category>
	</item>
	</channel>
</rss>
