{% extends 'base.html' %}

{% block content %}

    {% if main_news %}
        {% if main_material %}
            <table class="full-table">
                <tr>
                    <td class="valign-top wp50 hp100">
                        {% include 'articles/incl/tile/article_short.html' with title='Репортаж дня' article=main_news %}
                    </td>
                    <td class="w7"><div style="width:7px; height:1px"><!-- --></div></td>
                    <td class="valign-top wp50 hp100">
                        {% include 'articles/incl/tile/article_short.html' with title='Главный сюжет' article=main_material %}
                    </td>
                </tr>
            </table>
        {% else %}
            <table class="full-table">
                <tr>
                    <td class="valign-top hp100">
                        {% include 'articles/incl/tile/video_short_wide.html' with title=main_news.title article=main_news %}
                    </td>
                </tr>
            </table>
        {% endif %}
    {% endif %}

    <div style="width:1px; height:7px"><!-- --></div>

    <table class="full-table">
        <tr>
            <td class="valign-top wp60 hp100">
                {% include 'incl/tile/video.html' with material=materials.video_politic color_class='bl_inside' %}
            </td>
            <td class="w7">
                <div style="width:7px; height:1px"><!-- --></div>
            </td>
            <td class="valign-top wp40 hp100">
                {% include 'incl/tile/video.html' with material=materials.video_partner_lugansk24 color_class='or_inside' %}
            </td>
        </tr>
    </table>
    <div style="width:1px; height:7px"><!-- --></div>

    <table class="full-table">
        <tr>
            <td class="valign-top wp60 hp100">
                {% include 'incl/tile/video.html' with material=materials.video_economic color_class='bl_inside' %}
            </td>
            <td class="w7">
                <div style="width:7px; height:1px"><!-- --></div>
            </td>
            <td class="valign-top wp40 hp100">
                {% include 'incl/tile/video.html' with material=materials.video_partner_dorenko color_class='or_inside' %}
            </td>
        </tr>
    </table>
    <div style="width:1px; height:7px"><!-- --></div>

    <table class="full-table">
        <tr>
            <td class="valign-top wp60 hp100">
                {% include 'incl/tile/video.html' with material=materials.video_accidents color_class='bl_inside' %}
            </td>
            <td class="w7">
                <div style="width:7px; height:1px"><!-- --></div>
            </td>
            <td class="valign-top wp40 hp100">
                {% include 'incl/tile/video.html' with material=materials.video_partner_krasnoetv color_class='or_inside' %}
            </td>
        </tr>
    </table>
    <div style="width:1px; height:7px"><!-- --></div>

    <table class="full-table">
        <tr>
            <td class="valign-top wp100">
                {% include 'incl/tile/video.html' with material=materials.video_fpolitic color_class='bl_inside' %}
            </td>
        </tr>
    </table>
    <div style="width:1px; height:7px"><!-- --></div>

    <table class="full-table">
        <tr>
            <td class="valign-top wp60 hp100">
                {% include 'incl/tile/video.html' with material=materials.video_society color_class='bl_inside' %}
            </td>
            <td class="w7">
                <div style="width:7px; height:1px"><!-- --></div>
            </td>
            <td class="valign-top wp40 hp100">
                {% include 'incl/tile/video.html' with material=materials.video_partner_nevextv color_class='or_inside' %}
            </td>
        </tr>
    </table>
    <div style="width:1px; height:7px"><!-- --></div>

    <table class="full-table">
        <tr>
            <td class="valign-top wp100">
                {% include 'incl/tile/video.html' with material=materials.video_national color_class='bl_inside' %}
            </td>
        </tr>
    </table>
    <div style="width:1px; height:7px"><!-- --></div>

{% endblock %}
