{% load static %}
{% load htmlutils %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ФОРУМ.мск{% endblock %}</title>
    <meta content="{% block description %}{% endblock %}" name="description">
    {% if canonical %}{{ canonical }}{% endif %}
    {% block head_css %}
        <link type="text/css" href="{% static 'css/default.css' %}" rel="stylesheet" media="all" />
    {% endblock %}
    {% block head_js %}
        <script type="text/javascript" src="{% static 'js/site.js' %}"></script>
    {% endblock %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'articles:rss' %}">
    {% if keywords %}
        <meta content="{{ keywords|join:', ' }}" name="keywords">
    {% endif %}
    {% if tags %}
        {{ tags }}
    {% endif %}
    <meta name="robots" content="all">
    <link rel="SHORTCUT ICON" href="{% static 'favicon.ico' %}">
    <meta name="verify-v1" content="dsT1m/eSeA9r4Qxao30/oQ81XA5xU89pRqzu1W6yB/s=">
    {% if meta_url %}
        <meta property="og:url" content="{{ meta_url }}" />
    {% endif %}
    {% if meta_image %}
        <meta property="og:image" content="{{ meta_image }}" />
    {% endif %}
    <meta property="og:locale" content="ru_RU" />
    {% if mobile_url %}
        <link rel="alternate" media="only screen and (max-width: 640px)" href="{{ mobile_url }}" />
        <link rel="alternate" media="handheld" href="{{ mobile_url }}" />
    {% endif %}
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="maximum-scale=1">
</head>
<body>

{% include 'incl/header_bottom.html' %}

<table class="full-table">
    <tr>
		<td class="w25">
            <div style="width:25px; height:1px"><!-- --></div>
        </td>

        {% block content %}{% endblock %}

		<td class="w7">
            <div style="width:7px; height:1px"><!-- --></div>
        </td>

        {% if not no_right_column %}

            <td class="wp30 valign-top">

                {% if poll %}
                    {% include 'incl/block_material_votes.html' %}
                    <div style="width:1px; height:14px"><!-- --></div>
                {% endif %}

                {% if sidebar_videos %}
                    {% include 'incl/block_video.html' %}
                    <div style="width:1px; height:14px"><!-- --></div>
                {% endif %}

                {% if sidebar_news %}
                    {% include 'incl/block_news.html' %}
                    <div style="width:1px; height:14px"><!-- --></div>
                {% endif %}

                {% if request.path != '/' %}
                    <table class="wp100">
                        <tr>
                            <td class="align-center">
                                <div id="yandex_ad_R-59310-1"></div>
                            </td>
                        </tr>
                    </table>
                {% endif %}

                {% if notices %}
                    {% include 'incl/block_notices.html' %}
                    <div style="width:1px; height:14px"><!-- --></div>
                {% endif %}

                {% include 'incl/search.html' %}
                <div style="width:1px; height:7px"><!-- --></div>

                {% include 'incl/add_news.html' %}
                <div style="width:1px; height:14px"><!-- --></div>

                {% if entries %}
                    {% include 'incl/block_bloggers.html' %}
                    <div style="width:1px; height:14px"><!-- --></div>
                {% endif %}

                {% if authors %}
                    {% include 'incl/block_authors.html' %}
                    <div style="width:1px; height:14px"><!-- --></div>
                {% endif %}

                {% if request.path == '/' %}
                    <iframe src="http://worldcrisis.ru/crisis/crisis/wc_club_foummsk_t" width="100%" frameborder="0" height="200" scrolling="no"></iframe>
                    <div style="width:1px; height:14px"><!-- --></div>
                {% endif %}

            </td>

            <td class="w25">
                <div style="width:25px; height:1px"><!-- --></div>
            </td>

        {% endif %}
    </tr>
</table>

<div style="width:1px; height:14px"><!-- --></div>

{% include 'incl/block_banners_bottom.html' %}

<table class="full-table h21">
	<tr>
		<td class="w25 footer">
            <div style="width:25px; height:1px"><!-- --></div>
        </td>
		<td class="footer">
            <div class="p_l">
                <div class="wh_normal">&copy; 1998-2016
                    <!--noindex-->
                    <a href="/">ФОРУМ.мск</a>
                    (наши зеркала: <a href="http://forum-msk.org">forum-msk.org</a>
                    <a rel="nofollow" href="http://forum-msk.com.ua">forum-msk.com.ua</a>
                    <a rel="nofollow"  href="http://forummsk.info">forummsk.info</a>)
                    <!--/noindex-->
                </div>
            </div>
		</td>
		<td class="align-right footer">
            <div class="p_l">
                <div class="wh_normal">
                    <a href="/about/">о нас</a> |
                    <a href="{% static 'i/banner/bun2_88x31_1.gif' %}">наша кнопка</a> |
                    <a href="/advert/">реклама на сайте</a> |
                    <!--noindex-->
                    <a rel="nofollow" href="http://spreadsheets.google.com/viewform?formkey=dHprVFlvQ0tMbjVscVRvMGM5Z1BmTnc6MQ">
                        <span style="color:red">связаться с нами</span>
                    </a> |
                    email: forum-msk@yandex.ru
                    <!--/noindex-->
                </div>
            </div>
		</td>
		<td class="w25 footer">
            <div style="width:25px; height:1px"><!-- --></div>
        </td>
	</tr>
</table>

{% if text_banner %}
    <table class="wp100">
        <tr>
            <td class="wp100 valign-top align-center normal">
                <div class="txtbanner">{{ text_banner }}</div>
            </td>
        </tr>
    </table>
{% endif %}

{% include 'incl/count.html' %}

{% include 'incl/ga.html' %}
{% include 'incl/ya_metrika.html' %}

{% if share %}
    <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script>
{% endif %}

{% if request.path != '/' %}
    {% include 'incl/ya_context.html' %}
{% endif %}

</body>
</html>
