{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ФОРУМ.мск{% endblock %}</title>
    <meta content="{% block description %}{% endblock %}" name="description">
    {% if canonical %}{{ canonical }}{% endif %}
    {% block head_css %}
        <link type="text/css" href="{% static 'css/default.css' %}" rel="stylesheet" media="all" />
    {% endblock %}
    {% block head_js %}
        <script type="text/javascript" src="{% static 'js/site.js' %}"></script>
    {% endblock %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'articles:rss' %}">
    {% if keywords %}
        <meta content="{{ keywords|join:', ' }}" name="keywords">
    {% endif %}
    {% if tags %}
        {{ tags }}
    {% endif %}
    <meta name="robots" content="all">
    <link rel="SHORTCUT ICON" href="{% static 'favicon.ico' %}">
    <meta name="verify-v1" content="dsT1m/eSeA9r4Qxao30/oQ81XA5xU89pRqzu1W6yB/s=">
    {% if meta_url %}
        <meta property="og:url" content="{{ meta_url }}" />
    {% endif %}
    {% if meta_image %}
        <meta property="og:image" content="{{ meta_image }}" />
    {% endif %}
    <meta property="og:locale" content="ru_RU" />
    {% if mobile_url %}
        <link rel="alternate" media="only screen and (max-width: 640px)" href="{{ mobile_url }}" />
        <link rel="alternate" media="handheld" href="{{ mobile_url }}" />
    {% endif %}
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="maximum-scale=1">
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
{% include 'incl/header_bottom.html' %}

<table class="full-table">
	<tr>
		<td class="w25"><% spacer(w=>25,h=>1) %></td>
		<td class="wp<% $request->{no_right_column} ? '100' : '70' %> valign-top">