<table class="noborder">
    <tr>
        <td>
% if ($votes) {
<div itemprop="aggregateRating" itemscope="itemscope" itemtype="http://schema.org/AggregateRating">
    <meta itemprop="ratingCount" content="<% $votes %>" />
    <meta itemprop="bestRating" content="5" />
    <meta itemprop="ratingValue" content="<% $rating %>" />
% } else {
    <div>
% }

% for my $i (1..5) {

<div class="vote_passive" onmouseover="voteMakeActiveStar(<% $news->{id} %>, <% $i %>)" onmouseout="voteMakeDeativeStar(<% $news->{id} %>, <% $rating %>)">
<form class="vote_form" action="/material/vote/index.html" name="voting" method="POST">
<input type="hidden" name="id" value="<% $news->{id} %>">
<input type="hidden" name="vote" value="<% $i %>">
<input type="hidden" name="back" value="<% $back %>">
<input alt="*" id="vote_<% $news->{id} %>_<% $i %>" type="image" src="/i/site/star_<% $rating < $i ? 'de' : '' %>active.png">
</form></div>

% }
</div></td></tr>
<tr><td>
Рейтинг:&nbsp;&nbsp;&nbsp;<% $rating %>,&nbsp;&nbsp;Голосов: <% $votes %>

</td></tr>

</table>

<%args>
	$back => undef
	$news => undef
</%args>
<%init>
	return undef unless $news && ref $news;

	my $votes	= $news->{vote_count} || 0;
	my $rating	= $news->{vote_count} ? sprintf("%.2f", $news->{vote_sum}/$news->{vote_count}) : 0;
</%init>