<table class="full-table
              {% block height_class %}{{ height_class|default:'' }}{% endblock %}
              {% block color_class %}{{ color_class|default:'or_inside' }}{% endblock %}">
    {% if not hide_tile_title %}
        <tr>
            <td colspan="3">
                <div class="big1 title">
                    {% block title %}{{ title }}{% endblock %}
                </div>
                <div style="width:1px; height:1px"><!-- --></div>
            </td>
        </tr>
    {% endif %}
    <tr>
        <td colspan="3" class="valign-top hp100 border_wrap">
            {% block content %}{{ content }}{% endblock %}
        </td>
    </tr>
    <tr>
        <td class="bg_bottom_l w7"><div style="width:7px; height:7px"><!-- --></div></td>
        <td class="bg_bottom_c wp100"><div style="width:1px; height:7px"><!-- --></div></td>
        <td class="bg_bottom_r w7"><div style="width:7px; height:7px"><!-- --></div></td>
    </tr>
</table>
