<table class="full-table {% block height_class %}{% endblock %}">
    {% if not hide_tile_title %}
        <tr>
            <td colspan="3">
                <div class="big1 or">
                    {% block title %}{% endblock %}
                </div>
                <div style="width:1px; height:1px"><!-- --></div>
            </td>
        </tr>
    {% endif %}
    <tr>
        <td colspan="3" class="valign-top hp100 bgFFF0E6">
            <div class="border_or">
                {% block content %}{% endblock %}
            </div>
        </td>
    </tr>
    <tr>
        <td class="bg_orange_l w7"><div style="width:7px; height:7px"><!-- --></div></td>
        <td class="wp100 bg_orange_c"><div style="width:1px; height:7px"><!-- --></div></td>
        <td class="bg_orange_r w7"><div style="width:7px; height:7px"><!-- --></div></td>
    </tr>
</table>
