{% extends 'incl/tile/base.html' %}

{% block height_class %}hp100{% endblock %}
{% block color_class %}{{ color_class }}{% endblock %}

{% block title %}
    {% if material %}
        <a href="{{ material.section.get_absolute_url }}">{{ material.section.name }}</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if material %}
        <table class="wp100">
            <tr>
                {% for article in material.articles %}
                    <td class="valign-top" style="width: {% widthratio 100 material.articles|length 1 %}%">
                        <table class="wp100">
                            <tr>
                                <td class="valign-top">
                                    {% include 'articles/incl/image.html' with article=article %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="or2_normal">
                                        <a href="{{ article.get_absolute_url }}">{{ article.title|safe|truncatechars:50 }}</a>
                                        <br />
                                        {{ article.publish_date|date:'d.m.Y' }}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                {% endfor %}
            </tr>
        </table>
    {% endif %}
{% endblock %}
