{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ФОРУМ.мск{% endblock %}</title>
    <meta content="{% block description %}{% endblock %}" name="description">

    {% block canonical %}{% endblock %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />

    {% block head_css %}
        <link rel="stylesheet" href="{% static 'bootstrap3.3.2/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap3.3.2/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap3.3.2/pda.css' %}" />
    {% endblock %}

    {% block head_js %}
        <script type="text/javascript" src="{% static 'js/site.js' %}"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="{% static 'bootstrap3.3.2/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/pda.js' %}"></script>
    {% endblock %}

    {% block keywords %}{% endblock %}

    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'articles:rss' %}">
    <link rel="SHORTCUT ICON" href="{% static 'favicon.ico' %}">
    <meta name="verify-v1" content="dsT1m/eSeA9r4Qxao30/oQ81XA5xU89pRqzu1W6yB/s=">

    {% block meta_url %}{% endblock %}
    {% block meta_image %}{% endblock %}
    <meta property="og:locale" content="ru_RU" />
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Навигация</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'pda:index' %}">ФОРУМ.мск</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="{% url 'pda:index' %}">Главная</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Разделы <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% for section in sections %}
                                <li><a href="{% url 'pda:section' section.slug %}">{{ section.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        {% block content %}{% endblock %}

        <div class="list-group">
            {% for section in sections %}
                <a href="{{ section.get_pda_url }}" class="list-group-item">{{ section.name }}</a>
            {% endfor %}
        </div>

    </div>

    <div class="footer">
        <div class="container">
            <p class="text-muted">&copy; 1998-2016 ФОРУМ.мск <span class="pull-right"><a id="desktop_version" href="{% url 'articles:index' %}">Полная версия сайта</a></span></p>
        </div>
    </div>

    <img src="http://counter.rambler.ru/top100.cnt?24858" width="1" height="1" />
    <img src="http://da.c1.b0.a0.top.list.ru/counter?id=6902" width="1" height="1" />
    {% include 'incl/adv/counter_widgets/yadro.html' %}
    {% include 'incl/adv/ga.html' %}
    {% include 'incl/adv/ya_metrika.html' %}

</body>
</html>
