{% extends 'pda/base.html' %}

{% load htmlutils %}

{% block canonical %}
    <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}" />
{% endblock %}

{% block content %}

    <div class="media">
        {% with article=main_news %}
            <div class="media-left">
                {% if article.icon %}
                    <a href="{{ article.get_pda_url }}">
                        <img class="media-object" data-src="holder.js/64x64" src="{{ article.icon|crop:'64x64' }}"
                             data-holder-rendered="true" alt="64x64" style="width: 64px; height: 64px;">
                    </a>
                {% endif %}
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <a href="{{ article.get_pda_url }}">{{ article.title|safe }}</a>
                </h4>
                {{ article.preview|striptags }}
            </div>
        {% endwith %}
    </div>
    <hr>
    {% for article in last_news %}
        <h4>
            <small>{{ article.publish_date|date:'d.m.Y' }}</small>
            <a href="{{ article.get_pda_url }}">{{ article.title|safe }}</a>
            {% if article.show_comments %}
                <span class="badge">{{ article.comments_count }}</span>
            {% endif %}
        </h4>
        <hr>
    {% endfor %}

    {% for section, article in materials %}
        <div class="media">
            {% if article.icon %}
                <div class="media-left">
                    <a href="{{ article.get_pda_url }}">
                        <img class="media-object" data-src="holder.js/64x64" src="{{ article.icon|crop:'64x64' }}"
                             data-holder-rendered="true" alt="64x64" style="width: 64px; height: 64px;">
                    </a>
                </div>
            {% endif %}
            <div class="media-body">
                <span class="media-heading">
                    <span class="label label-section">{{ section.name }}</span>
                    <br />
                    <a href="{{ article.get_pda_url }}">{{ article.title|safe }}</a>
                    {% if article.show_comments %}
                        <span class="badge">{{ article.comments_count }}</span>
                    {% endif %}
                </span>
            </div>
        </div>
        <hr>
    {% endfor %}

{% endblock %}
