{% extends 'base.html' %}

{% load static %}
{% load capture_tags %}

{% block title %}Форум - {{ thread.title }} - ФОРУМ.мск{% endblock %}

{% block content %}

    <a id="comment"></a>
    {% capture as thread_title_tmpl silent %}
        <a href="{% url 'forum:index' %}">Форум</a> :: {{ thread.title }}
    {% endcapture %}

    {% capture as thread_comment_list_tmpl silent %}
        <div style="width:1px; height:7px"><!-- --></div>
        <div class="normal">
            <div class="p_l">
                {% include 'incl/paginator.html' with page_obj=page_obj page='p' %}
            </div>
        </div>
        <div style="width:1px; height:7px"><!-- --></div>
        <div style="height:1px; background: #C1DAE6;"><!-- --></div>

        <table width="100%" cellpadding="0" cellspacing="0" class="table">
            <tr>
                <th>#</th>
                <th>Автор</th>
                <th>Сообщение</th>
            </tr>
            <tr>
                <td colspan=5 class="nopad"><div style="height:1px; background:#C1DAE6;"><!-- --></div></td>
            </tr>
            {% for comment in object_list %}
                <tr>
                    <td class="valign-top" align=center><b>{{ forloop.counter }}</b>&nbsp;</td>
                    <td class="valign-top" width=10%>{{ comment.username }}</td>
                    <td class="valign-top nopad">
                        <table width="100%" cellpaddin=0 cellspacing=0>
                            <tr>
                                <td>
                                    <div class="normal">Добавлено: {{ comment.created_at|date:'d.m.Y H:i' }}</div>
                                </td>
                                <td class="align-right">
                                    <div class="normal">
                                        <a onClick="return makeForumReplyForm('comment_replay_{{ comment.id }}', 'Re: {{ comment.title|safe }}', '{{ comment.id }}');"
                                           href="{{ article.get_absolute_url }}?id={{ thread.id }}&p={{ page_num|default:1 }}&mid={{ comment.id }}#replay" class="uline">ответить</a> | <a href="#comment" class="uline">наверх</a> | <a href="{% url 'forum:index' %}" class="uline">все темы</a>
                                        | {% include 'incl/forum_message_admin.html' %}
                                    </div>
                                </td>
                            </tr>
                        </table>
                        Заголовок: <b>{{ comment.title }}</b><br>
                        <p>{{ comment.content|safe }}</p>
                        <span id="comment_replay_{{ comment.id }}"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan=5 class="nopad">
                        <div style="height:1px; background:#C1DAE6;"><!-- --></div>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div style="width:1px; height:7px"><!-- --></div>
        <div class="normal">
            <div class="p_l">
                {% include 'incl/paginator.html' with page_obj=page_obj page='p' %}
            </div>
        </div>
    {% endcapture %}
    {% include 'incl/tile/base_blue.html' with title=thread_title_tmpl content=thread_comment_list_tmpl %}

    <div style="width:1px; height:7px"><!-- --></div>

    <a id="replay"></a>
    {% capture as thread_form_tmpl silent %}
         <div class="p_hv">
            {% include 'incl/forum_message_form.html' with article=thread form=comment_form %}
        </div>
    {% endcapture %}
    {% include 'incl/tile/base_blue.html' with title='Ответить' content=thread_form_tmpl %}

{% endblock %}
